access=restricted

; INSTALL PREFIX FOR DEPENDENCIES (more stable for production use than ^!)
save-prefix=~

; COMMON ENVIRONMENT ('C' prefix must not be changed)
C_S3_USER=superhero
C_S3_PASS=avengers and xmen together

; DEVELOPMENT ENVIRONMENT
DEV_NODE_ENV=development
DEV_MONGO_DB_URI=@ds123456.mlab.com:12345/test-your-app
DEV_MONGO_USER=superman
DEV_MONGO_PASS=cryptoniteisawesome

; PRODUCTION ENVIRONMENT
PROD_NODE_ENV=production
PROD_MONGO_DB_URI=@ds654321.mlab.com:54321/your-app
PROD_MONGO_USER=thor
PROD_MONGO_PASS=bewaremyhammer
